name: Release
on:
  push:
    branches:
      - main
      - next

env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup node/pnpm
        uses: volta-cli/action@v4

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
